.back_office_sidebar {
  padding-left: 30%;
  padding-top: 25px;
  .back_office_title {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    margin-bottom: 19px;
    margin-top: 13px;
  }
  .back_office_sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      a {
        font-family: Montserrat;
        font-size: 19px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.04px;
        text-align: left;
        color: #4d4d4d;
        &:hover {
          color: #cc2727;
          text-decoration: none;
        }
        &.disabled {
          pointer-events: none;
        }
        img {
          margin-right: 8.5px;
        }
      }
      &.active {
        a {
          color: #cc2727;
        }
        .back_office_sidebar_sub {
          a {
            color: #4d4d4d;
          }
        }
      }
      .back_office_sidebar_sub {
        margin-top: 30px;
      }
    }
  }
}
.back_link {
  text-align: right;
  margin: 15px;
  a {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: 0.04px;
    color: #4d4d4d;
    display: inline-block;
    cursor: pointer;
    img {
      margin-left: 8.5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.backoffice_page_title {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: 0.07px;
  text-align: left;
  color: #4d4d4d;
  margin-top: 60px;
  margin-bottom: 50px;
}
.user_overview_page {
  .user_image_container {
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #280c42;
    text-align: center;
    padding-top: 16px;
    .user_image {
    }
    .edit_icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 26px;
      height: 26px;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.32);
      background-color: #ffffff;
      z-index: 99;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.32);
      }
    }
  }

  .user_name {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    margin-bottom: 10px;
  }
  .edit_link {
    display: inline-block;
    vertical-align: top;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.03px;
    text-align: left;
    color: rgba(77, 77, 77, 0.5);
    cursor: pointer;
    margin-left: 2%;
    img {
      margin-right: 7px;
    }
  }
  .user_role {
    margin-top: 26px;

    .role_text {
      display: inline-block;
      vertical-align: middle;
      border-radius: 12px;
      background-color: rgba(204, 39, 39, 0.3);
      font-family: Montserrat;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.9;
      letter-spacing: 0.02px;
      text-align: left;
      color: #cc2727;
      padding: 5px 8px;
    }
    .edit_link {
      padding-top: 5px;
    }
  }

  .section_title {
    margin-top: 47px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.03px;
    text-align: left;
    color: rgba(77, 77, 77, 0.5);
    text-transform: uppercase;
    margin-bottom: 30px;
    &.small_top_margin {
      margin-top: 30px;
      margin-bottom: 18px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 3.06;
      letter-spacing: 0.03px;
      text-align: left;
      color: #4d4d4d;

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
      input {
        margin-right: 14px;
      }
    }
  }

  .section_details {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
  }
}
.save_btns {
  .btn {
    width: 127px;
    height: 32px;
    &.btn-transparent {
      margin-left: 30px;
    }
  }
}
.admin_button_group {
  .btn {
    margin-right: 6px;
    height: 32px;
  }
}
.bktables {
  tr {
    td {
      cursor: pointer;
    }
    &:hover {
      td {
        background-color: rgba(77, 77, 77, 0.1);
      }
    }
  }
}

.roles_page {
  background-color: #e2e2e2;
  height: calc(100vh - 118px);
  overflow: auto;

  .roles_container {
    width: 80%;
    max-width: 600px;
    padding-bottom: 50px;
  }
  .roles_header {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
  }
  .roles_section_one {
    width: 78%;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
  }
  .roles_section_two {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    text-align: center;
  }
  .roles_item {
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    margin-top: 18px;
  }
  .roles_action_row {
    margin-top: 40px;
  }
}

.contect_Role_model {
  .role_modals_body{
    padding:0;
  }
  form {
    padding: 1rem;
  }
  .modal-dialog{
    min-width: 600px;
  }
  .role_label {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
  }
  .form-control {
    margin-top: 13px;
    margin-bottom: 30px;
  }
  .mb30 {
    margin-bottom: 30px;
  }
  .roles_small_actions_link {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.03px;
    text-align: left;
    color: #cc2727;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 47px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      vertical-align: top;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 3.06;
      letter-spacing: 0.03px;
      text-align: left;
      color: #4d4d4d;
      margin-right: 20px;

      label {
        cursor: pointer;
        margin-bottom: 0;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: 0.02px;
        text-align: left;
        color: #4d4d4d;
        padding-left: 28px;
        &::before {
          top: 0px;
        }
        &::after {
          top: 4px;
      }
    }

      input {
        margin-right: 14px;
      }
    }
  }
}
.roles_models_footer {
  border-top:1px #ccc solid;
  padding: 1rem;
}