.board_header {
  width: 100%;
  height: 61px;
  background-color: $white;
  padding: 15px;
  .board_icon {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.04px;
    text-align: left;
    color: #4d4d4d;
    font-family: Helvetica;
    img {
      margin-right: 15px;
    }
    a {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0.04px;
      text-align: left;
      color: #4d4d4d;
      font-family: Helvetica;
    }
  }
}
.boardContainer {
  background-color: #e2e2e2 !important;
  height: calc(100vh - 111px) !important;
  overflow: auto;
  padding-bottom: 50px !important;
  overflow-y: auto !important;
}
.sc-fzoLsD {
  overflow: hidden !important;
  &:hover {
    overflow: auto !important;
  }
}
.card_item {
  max-width: 235px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
  .card_title {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    margin-bottom: 10px;
  }
  .typeofloss {
    .title {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: 0.02px;
      text-align: left;
      color: #adadad;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      li {
        display: inline-block;
        vertical-align: top;
        padding: 2px 10px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.02px;
        text-align: left;
        color: #ffffff;
        border-radius: 3px;
        max-width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        background-color: #e6cf01;
        margin-right: 6px;
        &:nth-child(1) {
          background-color: #e6cf01;
        }
        &:nth-child(2) {
          background-color: #01a8e6;
        }

        &:nth-child(3) {
          background-color: #280c42;
        }
        &.notype {
          max-width: 100%;
          background-color: #e2e2e2;
        }
      }
    }
  }
  .claimno {
    .title {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: 0.02px;
      text-align: left;
      color: #adadad;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .value {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.02px;
      text-align: left;
      color: #4d4d4d;
    }
  }
  .name {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.02px;
    text-align: left;
    color: #747474;
    img {
      margin-right: 6px;
    }
  }
  .user_name {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.02px;
    text-align: left;
    color: #747474;
    border-radius: 2px;
    background-color: #e2e2e2;
    display: inline-block;
    vertical-align: top;
    padding: 2px 6px;
    margin: 5px 0px;
  }
  .footer_info {
    width: 100%;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.02px;
    text-align: left;
    color: #9299ac;
    .footer_icons {
      display: inline-block;
      vertical-align: top;
      margin: 10px;
      margin-left: 0px;
      margin-bottom: 0px;
      img {
        margin-right: 7px;
      }
      &.redalert {
        border-radius: 2px;
        background-color: #cc2727;
        color: #ffffff;
        padding: 3px 5px;
        margin-top: 6px;
        img {
          margin-right: 2px;
        }
      }
      &.delete {
        cursor: pointer;
      }
    }
  }
}
.lane_header {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.03px;
  text-align: left;
  color: #4d4d4d;
  font-family: Helvetica;
}
.react-trello-lane {
  padding: 15px !important;
  margin: 12px !important;
  max-width: 280px;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #cc2727;
}
.board_actions_row {
  .dropdown {
    display: inline-block;
    vertical-align: top;
  }
  .action {
    margin-right: 15px;
  }
  .backoffice {
    margin-right: 15px;
    height: 32px;
    vertical-align: top;
  }
  .invite {
    margin-right: 15px;
    height: 32px;
    vertical-align: top;
  }
  .usersAdded {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    li {
      display: inline-block;
      vertical-align: top;
      background-color: #e17d7d;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.03px;
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
      margin-left: 5px;
      padding: 7px 5px;
      width: 32px;
      height: 32px;
    }
  }
  .divider {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 25px;
    border-left: solid 1px #a7a7a7;
    margin-top: 5px;
    margin-right: 15px;
  }
  .input-group {
    border-radius: 2px;
    border: solid 1px #a7a7a7;
    background-color: #ffffff;
    width: 235px;
    display: inline-block;
    vertical-align: top;
  }
  .input_icon {
    margin: 10px;
  }
  input {
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.02px;
    text-align: left;
    color: #a7a7a7;
    width: 84%;
    padding-left: 0;
    display: inline-block;
    padding: 1px 5px;
    height: 32px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
.board_dropdown_menu {
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 15px;
        margin: 0;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.73;
        letter-spacing: 0.02px;
        text-align: left;
        color: #4d4d4d;
        img {
          margin-right: 12px;
        }
      }
    }
  }
}
.create_card_dropdown_menu {
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 15px;
        margin: 0;
        img {
          margin-right: 12px;
        }
        span {
          font-family: Montserrat;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.64;
          letter-spacing: 0.02px;
          text-align: left;
          color: #4d4d4d;
        }
      }
    }
  }
}
.no_lane_card {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.03px;
  text-align: center;
  color: #adadad;
  padding: 30px;
  pointer-events: none;
}
.add_lane_button {
  min-width: 273px;
  height: 40px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border-color: transparent;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.03px;
  text-align: center;
  color: #4d4d4d;
  margin-top: 12px;
  img {
    margin-right: 8.3px;
  }
}

.board_search_dropdown_menu {
  width: 200px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  ul {
    padding: 15px;
    margin: 0;
  }
}
.mobile_search_board {
  border-radius: 2px;
  border: solid 1px #a7a7a7;
  background-color: #ffffff;
  width: auto !important;
  display: inline-block;
  vertical-align: top;
  .input_icon {
    margin: 10px;
  }
}

.no_board_found {
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 10%;
  img {
    margin-bottom: 30px;
  }
  .nodatatext {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.53;
    letter-spacing: 0.07px;
    color: #4d4d4d;
  }
}
.board_item {
  width: 200px;
  min-height: 100px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background-color: #cc2727;
  margin: 13px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #e2e2e2;
  position: relative;
  .board_title {
    margin-left: 11px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
  }
  a {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.03px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: block;
  }
}
.dashboard_sidebar_link {
  &:hover {
    text-decoration: none !important;
  }
}
.board_link {
  width: 100%;
  height: auto;
  border-radius: 2px;
  background-color: rgba(225, 125, 125, 0.6);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03px;
  text-align: left;
  color: #ffffff;
  margin-top: 20%;
  padding: 5px;
  cursor: pointer;
  &.signuplink {
    margin-top: 10px;
  }
  &:hover,
  &.active_true {
    background-color: #e17d7d;
    text-decoration: none !important;
  }
}
.card_details_model {
  .modal-dialog {
    max-width: 700px;
  }
  .modal-header {
    padding: 50px 39px;
  }

  .card_details_model_title {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
  }
  .Card_details_body {
    padding: 25px;
    .details_section {
      margin-bottom: 44px;
      .title {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: 0.03px;
        text-align: left;
        color: #787878;
        margin-bottom: 14px;
        img {
          margin-right: 5px;
        }
      }
      .details {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            width: 100%;
            margin-bottom: 20px;
            cursor: pointer;
            .details_header {
              border-radius: 5px;
              background-color: #eeeeee;
              padding: 15px 20px;
              font-family: Montserrat;
              font-size: 13px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.23;
              letter-spacing: 0.03px;
              text-align: left;
              color: #4c4c4c;
            }
          }
        }
      }
      .card_details_checklists {
        li {
          margin: 0 !important;
        }
        .checklist_timer {
          font-family: Montserrat;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.64;
          letter-spacing: 0.02px;
          text-align: right;
          color: #009a14;
          .ended_true {
            color: #ff0000;
          }
        }
      }
      .divider {
        width: 100%;
        border-bottom: 1px #dadada solid;
      }
      .comments {
        .comments_header {
          .title {
            width: 61px;
            height: 16px;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: 0.03px;
            text-align: left;
            color: #4c4c4c;
          }
          .comments_input_group {
            .icon {
              width: 32px;
              margin-right: 9px;
              display: inline-block;
              vertical-align: top;
              .user_image_container {
                margin-top: 7px;
              }
            }
            .input {
              width: calc(100% - 81px);
              display: inline-block;
              vertical-align: top;
              min-height: 50px;
              border-radius: 5px;
              border: solid 2px #cccecf;
              background-color: #ffffff;
              textarea {
                min-height: 45px;
                outline: none;
                border: 0;
                background-color: transparent;
              }
            }
            .send {
              width: 38px;
              display: inline-block;
              vertical-align: top;
              padding: 10px;
              cursor: pointer;
              img {
                height: 28px;
                &:hover {
                  transform: scale(1.1, 1.1);
                  transition: all 0.5s;
                }
              }
            }
          }
        }
        .comments_body {
          ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li.comment_item {
              width: 100%;
              margin-top: 42px;
              .comment_image {
                display: inline-block;
                vertical-align: top;
                width: 32px;
                margin-right: 9px;
              }
              .comment_description {
                width: calc(100% - 41px);
                display: inline-block;
                vertical-align: top;
                .commenter {
                  font-family: Helvetica;
                  font-size: 14px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.21;
                  letter-spacing: 0.03px;
                  text-align: left;
                  color: #4d4d4d;
                  margin-bottom: 15px;
                  .date {
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: 0.02px;
                    text-align: left;
                    color: rgba(76, 76, 76, 0.5);
                    margin-left: 16px;
                  }
                }
                .description {
                  border-radius: 5px;
                  border: solid 2px #cccecf;
                  background-color: #ffffff;
                  width: 100%;
                  padding: 10px;
                  font-family: Montserrat;
                  font-size: 14px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.29;
                  letter-spacing: 0.03px;
                  text-align: left;
                  color: #4d4d4d;
                  margin-bottom: 10px;
                }
                .comment_actions {
                  .action_items {
                    .action_item {
                      display: inline-block;
                      vertical-align: top;
                      margin-right: 15px;
                      a {
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.25;
                        letter-spacing: 0.02px;
                        text-align: left;
                        color: rgba(76, 76, 76, 0.7);
                        text-decoration: underline;
                      }
                      &.like_count {
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2;
                        letter-spacing: 0.02px;
                        text-align: left;
                        color: #cccecf;
                        text-decoration: none;
                      }
                    }
                  }
                  .comment_date_info {
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: italic;
                    line-height: 1.25;
                    letter-spacing: 0.02px;
                    text-align: right;
                    color: rgba(76, 76, 76, 0.7);
                    padding-top: 4px;
                    .is_editted {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .user_image_container {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-top: 10px;
        background-color: #280c42;
        text-align: center;
        padding-top: 7.4px;
        .user_image {
          height: 100%;
        }
      }
    }
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: solid 2px #bfbfbf;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    padding: 11px 16px;
  }
  textarea {
    width: 100%;
    border-radius: 3px;
    border: solid 2px #bfbfbf;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4d4d4d;
    height: 152px;
    resize: none;
    padding: 11px 16px;
  }
  .send_support {
    width: 100%;
    border-radius: 3px;
    background-color: #280c42;
    &:hover {
      background-color: #cc2727;
      border-color: #cc2727;
      color: #ffffff;
    }
  }
}

.progressbar_label {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.02px;
  text-align: left;
  color: rgba(76, 76, 76, 0.5);
  display: inline-block;
  vertical-align: middle;
  width: 4%;
  margin-left: 2%;
}
.progressbar_cont {
  display: inline-block;
  vertical-align: middle;
  width: 92%;
  margin-left: 2%;
}
.checklist_progress_bar {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #e2e2e2;
  .checklist_progress_bar-bar {
    height: 8px;
    border-radius: 5px;
    background-color: #cc2727;
  }
}

.card_details_checklists {
  ul {
    label {
      width: 100%;
      margin-bottom: 0;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.23;
      letter-spacing: 0.03px;
      text-align: left;
      color: #4c4c4c;
    }
  }
}

.details_row {
  padding: 10px;
  padding-top: 40px;
  .details_row_header {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.03px;
    text-align: left;
    color: #787878;
    margin-bottom: 20px;
    text-transform: uppercase;
    img {
      margin-right: 5px;
    }
  }
  .details_row_description {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.23;
    letter-spacing: 0.03px;
    text-align: left;
    color: #4c4c4c;
    &.buttons_set {
      button {
        margin-right: 10px;
      }
    }
  }
}

.sugession_mention__suggestions {
  top: 40px !important;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.43);
  li {
    padding: 5px 10px;
    &:hover {
      background-color: rgba(76, 76, 76, 0.3);
    }
  }
}

.card_details_actions {
  position: absolute;
  top: 44px;
  right: 15px;

  .card_details_time {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 26px;
    padding-top: 5px;
  }
  .edit_icon {
    width: 26px;
    height: 26px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.32);
    background-color: #ffffff;
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    padding-top: 3px;
    img {
      width: 10px;
      height: 10px;
    }
    &:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.32);
    }
  }
  .close {
    display: inline-block;
    vertical-align: top;
  }
}
.no_data_avail {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.02px;
  text-align: left;
  color: rgba(76, 76, 76, 0.5);
  margin-left: 16px;
}

.checkbox {
  &.self {
    label {
      padding-top: 10px;
    }
  }
}
