.bktables{
    width:90%;
    height: 420px;
    overflow:auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    th {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: 0.03px;
        text-align: left;
        color: #4d4d4d;
        background-color: rgba(77, 77, 77, 0.1);
        padding:25px;
    }
    td {
        border-bottom:1px  rgba(77, 77, 77, 0.1) solid;
        padding:25px;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 5.38;
        letter-spacing: 0.03px;
        text-align: left;
        color: #4d4d4d;
    }
}