@media screen and (max-width: 400px) {
    .home_video_background {
        width: 100%;
        // height:auto;
        .main_banner_text {
            font-size: 20px;
        }
    }

    .title {
        &.left {
            .col {
                flex-basis: auto;
            }
            .section_title_text {
                text-align: center;
                padding-top: 0;
                padding-left: 0;
                background-position: center center;
                padding: 10%;
                width: 100%;

                margin-top: 10%;
                font-size: 32px;
                line-height: 45px;
            }

            .section_title_description {
                display: block;
                text-align: justify;
                font-weight: normal;
                font-size: 16px;
                line-height: 34px;
                letter-spacing: -0.19px;
                color: #000000;
                opacity: 1;
                padding-top: 18%;
                padding: 25px;
                padding-top: 15%;
            }
        }
    }

    .compare_images_section {
        padding: 0;
    }

    .data_points {
        padding-top: 20%;
        .col {
            flex-basis: auto;
        }
        .data_text {
            padding-top: 25px;
            padding-left: 10px;
        }
    }

    .deliver_widget_container {
        display: block;
    }
    span.numeric-character {
        margin: 0px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 50px;
        height: 50px;
    }

    .sketch-container {
        display: block;
        img {
            width: 100%;
        }
    }

    .form-holder {
        .col {
            flex-basis: auto;
        }
    }

    .contact_us {
        .section_title_text {
            padding: 16% !important;
            padding-top: 20% !important;
            min-height: 200px;
            margin-top: 10%;
        }
    }
}
